<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-volley" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>VolleyPlugin</name><js-module name="VolleyPlugin" src="www/VolleyPlugin.js"><clobbers target="cordova.plugins.VolleyPlugin" /></js-module><platform name="android"><config-file parent="/*" target="res/xml/config.xml"><feature name="VolleyPlugin"><param name="android-package" value="cordova-plugin-volley.VolleyPlugin" /></feature></config-file><config-file parent="/*" target="AndroidManifest.xml" /><source-file src="src/android/VolleyPlugin.java" target-dir="src/cordova-plugin-volley/VolleyPlugin" /></platform><platform name="ios"><config-file parent="/*" target="config.xml"><feature name="VolleyPlugin"><param name="ios-package" value="VolleyPlugin" /></feature></config-file><source-file src="src/ios/VolleyPlugin.m" /></platform></plugin>